body {
    font-family: Arial, sans-serif;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #191919;
    min-width: 1400px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: flex;
    }
  }
#wrapper{
    margin: 0 auto;
    width: 1400px;
    
}  
.box-product{
    display: flex;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 6px #0000004d;
    list-style-type: none;
    width:400px;
    float: left;
    padding: 10px;
    gap: 10px ;
}
.box-man{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 388px;
    padding: 10px;
    z-index: 9;
    color: #fff;
    font-weight: bold;
}
#li-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    background-size: cover;
    height: 97%;
    align-items: center;
    background-image: url(https://i.pinimg.com/474x/2a/25/ca/2a25cae0a6dfd083057d4b6887533d17.jpg);
    background-repeat: no-repeat;
}
.sub-title{
   color:rgb(255, 255, 255);
   font-family: 'Times New Roman', Times, serif;
   position: absolute;
   font-size: 30px;
   margin: 23px;
}
.sus-title{
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  margin-top : 202px;
  padding: 8px;
  transform: translateY(-50%);
  
}
@media (min-width: 768px){
.box{
    flex: 0 0 25%;
    max-width: 25%!important;
}
}
.btn-primary{
  border-radius:10px ;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-top: 300px;
  width: 30%;
  height: 9%;
  background-color: #00E238;
  font-size: 20px;
  font-weight: bold;
}
button{
  text-decoration:  none;
}